<!DOCTYPE html>
<html lang="en">
	<%- include('./../partials/head.ejs')%>
<body>	
	<%- include('./../partials/nav.ejs')%>

	<div class="details content">
        <h2><%=blog.title%></h2>
        <div class="content">
            <p><%=blog.body%></p>
        </div>
        <a class="delete" data-doc="<%=blog._id%>">
            <img src="/test.svg" alt="delete">
        </a>
    </div>

	<%- include('./../partials/footer.ejs')%>
    <script>
        const trash = document.querySelector('a.delete');
        trash.addEventListener('click',async (e)=>{
            const endpoint = `/blogs/${trash.dataset.doc}`;
            const response = await fetch(endpoint, {method:'DELETE'});
            const data = await response.json();
            window.location.href = data.redirect
        })
    </script>
</body>
</html>